<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/delete.css}">
    <title>Add</title>
</head>

<body>
    <!-- <form action="#" method="post" th:action="@{/delete}" th:object="${rectangle}">

        <label title="name"><input type="text" th:field=*{name} placeholder=""> <br>
        <label title="color"><input type="text" th:field=*{color} placeholder=""> <br>
        <input type="submit" value="Delete Rectangle">

    </form> -->

    
    <!-- yes -> deletes succesfully
    no -> redirects back -->
    <form action="#" id="deleteForm" method="post" th:action="@{/delete}" th:object="${rectangle}">
        <p th:text="${message}"></p>
        <!-- <button value="1" onclick="deleteRectangle(this.value)"></button>
        <button value="0"></button> -->
        <!-- <input type="hidden" th:value="${tag}" th:field=*{id}> -->
        <input name="id" type="hidden"  th:value="${tag}">
        <button type="submit" class="btn" name="action" value="cancel">go back</button>
        <button type="submit" class="btn" name="action" value="delete">delete</button>

    </form>
</body>

<!-- <script th:inline="javascript">
    function delete(id){

    }
</script> -->

</html>